{% extends 'base.html.twig' %}
{% block body %}
<h1>Update author {{ author }}</h1>
<a href="{{ path('author_index') }}">
    Back
</a>
{{ include('author/_form.html.twig', {form: form}) }}
{% endblock %}